body {
  font-family: 'Arial', sans-serif;
  background-color: #D3D3D3; /* Màu nền nhạt, giống bê tông */
  padding: 30px;
  color: #333;
}

h2 {
  color: #696969; /* Màu xám đậm, giống thép */
  text-shadow: 2px 2px 4px #999;
}

select, input, button {
  padding: 15px;
  font-size: 18px;
  margin-bottom: 30px;
  border-radius: 5px; /* Góc tròn */
  border: 2px solid #696969; /* Viền màu thép */
}

button {
background-color: #4682B4; /* Màu xanh dương, giống màu của các biển chỉ dẫn công trình */
border: none;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
transition-duration: 0.4s; /* Hiệu ứng chuyển đổi */
font-size: 18px; /* Kích thước chữ */
font-weight: bold; /* Độ đậm của chữ */
padding: 15px 25px; /* Khoảng cách giữa chữ và viền nút */
}

button:hover {
background-color: #4169E1; /* Màu xanh dương đậm hơn khi di chuột qua */
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); /* Hiệu ứng bóng mờ khi di chuột qua */
}

button:active {
background-color: #3e8e41; /* Màu xanh lá cây khi nhấn vào nút */
box-shadow: 0 5px #666; /* Hiệu ứng bóng mờ khi nhấn vào nút */
transform: translateY(4px); /* Di chuyển nút xuống một chút khi nhấn vào */
}


#output {
  padding: 30px;
  background-color: #eee;
  border-radius: 5px; /* Góc tròn */
}

footer {
  font-size: 20px; 
  color: #00aeff; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  text-align: center; 
}

#notice {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  background-color: #FFD700; /* Màu vàng, giống màu của các biển cảnh báo công trình */
  border: 1px solid black;
  padding: 10px;
}
.close-btn {
  float: right;
  cursor: pointer;
}
#notice1 {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #f9ed69;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

/* Đối với điện thoại di động */
@media only screen and (max-width: 600px) {
 body {
     padding: 10px;
 }
 select, input, button {
     padding: 5px;
     font-size: 14px;
     margin-bottom: 15px;
 }
 #output {
     padding: 15px;
 }
 footer, h3 {
     font-size: 16px; 
 }
 #notice {
     width: auto;
 }
}


#menu a:hover {
background-color: #f1f1f1;
}

#suggestionBox {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

#suggestionBox button {
  flex: 1 0 20%; /* Mỗi hàng sẽ chứa tối đa 5 từ */
  background: white;
  color: black;
  border: none;
  padding: 5px;
  margin: 2px;
  text-align: center;
  cursor: pointer;
}

#suggestionBox button:hover {
  background-color: #f1f1f1;
}

