table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}

.checkbox-container {
  border: 1px solid #ccc; /* Tạo khung xung quanh với đường viền 1px và màu xám */
  border-radius: 5px; /* Bo tròn góc của khung */
  padding: 10px; /* Tạo khoảng cách với các phần tử bên trong */
  margin-top: 10px;
  display: flex; /* Sử dụng flexbox để sắp xếp các checkbox theo hàng ngang */
  flex-wrap: wrap; /* Cho phép các checkbox chuyển hàng khi không đủ không gian */
}

.checkbox-container h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.checkbox-container label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  margin-right: 10px; /* Thêm khoảng cách bên phải của mỗi giá trị */
}