body {
  font-family: Arial, sans-serif;
  background-color: black;
}

.menu-btn {
  background-color: #4682B4;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 25%;
}

.menu-btn:hover {
  background-color: #4169E1;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.menu-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(5px);
}

#menu {
  max-width: 300px;
  border-radius: 15px;
  overflow: hidden;
}

#menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

#menu a:hover {
  background-color: #f1f1f1;
}

.dropdown-content li {
  float: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
  color: #e8e2e1;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: center;
}

#Capnhat {
  background-color: black;
  color:white;
  padding: 20px;
  text-align: center;
  font-size: 15px;
  position: absolute;
  top: 5%;
  right: 25%;
  transform: translate(0%,0%);
  padding: 10px 10px;
  border: 3px solid red;
  border-radius: 15px;
  width: 50%;
}

#Capnhat h2 {
  color: Red;
  font-size: 22px;
  text-align: left;
}

#Capnhat a {

  color: #f9a825;
  font-size: 20px;
  text-decoration: none;
  text-align: left;
}

#Capnhat p {

  margin-bottom: 10px;
  font-size:15px;
  text-align: left;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 10px;
}

.update-section {
  margin-bottom: 20px;
}


h3 {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: center; /* Center align on mobile */
}

h4 {
  color: #CCFF33;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
}

h6 {
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
}
#menuDanhMuc {
  width: 70%;
  border: 1px solid black;
  padding: 1px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
#menuDanhMuc ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 12px;
  overflow: hidden;
  background-color: #323232; /* Updated background color */
  border: 2px solid #5d8db5;
  border-radius: 30px;
}

#menuDanhMuc li {
  
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
;
  background-color: #323232; /* Updated background color */
  transition: background-color 0.3s ease;
}

#menuDanhMuc a {
  color: #33CCFF;
  text-decoration: none;
  display: block;
}

#myClock {
  color: #0f0;
  font-family: 'Digital-7 Mono', monospace;
  text-align: center;
  padding-top: 20%;
  font-size: 60px;

}

#myClock #clock {
  border: 2px solid #7f00ff;
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
  text-align: center;
}



#myFooter {
  background-color: Black;
  color: white;
  padding: 20px;
  text-align: left;
  font-size: 12px;
  border: 3px solid blueviolet;
  border-radius: 14px;
  position: absolute;


}

#myFooter h1 {
  font-style: italic;
  color: #f9a825;
  font-size: 30px;
  text-align: Centert;
}

#myFooter a {
  color: #f9a825;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
}

#myFooter p {
  font-style: italic;
  margin-bottom: 10px;
  text-align: left;
  font-size: 20px;
}

.footer-section {
  margin-bottom: 20px;
}



