/* Header Section */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(45deg, #ff7300, #eaecc6);
  transition: background 0.5s ease;
  zoom: 125%; /* Add this line for zoom effect */
}

body:hover {
  background-color: #3498db;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu-btn {
  border: 2px solid #000;  /* Màu và độ đậm của đường viền */
  padding: 10px;          /* Khoảng cách bên trong nút */
  cursor: pointer;        /* Chuyển đổi con trỏ khi di chuột vào nút */
  display: inline-block;  /* Hiển thị là khối nút */
  border-radius: 5px;     /* Bo tròn góc của nút */
}

.menu-btn:hover {
  background-color: #eee;  /* Màu nền khi di chuột vào nút */
}
.menu-btn:active {
  background-color: #219653;
}
#menu {
  max-width: 300px;
  border-radius: 15px;
  overflow: hidden;
  position: fixed;
  top: 60px; /* Adjust this value to position the menu below the button */
  left: 30px; /* Adjust this value to position the menu horizontally */
  z-index: 3; /* Set a higher z-index than other elements */
  display: none; /* Hide the menu by default */
}

#menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

#menu a:hover {
  background-color: #f1f1f1;
}

.dropdown-content li {
  float: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}


#myClock {
  color: #fff; /* Màu chữ trắng */
  font-family: 'Digital-7 Mono', monospace;
  text-align: center;
  font-size: 40px;
}

#myClock #clock {
  background-color: #000; /* Màu nền đen cho phần đồng hồ */
  border: 2px solid #27ae60;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  text-align: center;
  text-shadow: 2px 2px 4px #333; /* Hiệu ứng chữ 3D đổ nóng */
}
/* Main Content Section - Danh Muc */
#menuDanhMuc {
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Thêm thuộc tính flex-wrap */
}

#menuDanhMuc .column {
  width: calc(33.33% - 20px); /* Đặt chiều rộng của mỗi cột */
  margin-bottom: 20px; /* Thêm margin giữa các cột */
}

#menuDanhMuc ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 12px;
  background-color: #333;
  border-radius: 10px;
}

#menuDanhMuc li {
  margin-bottom: 5px;
}

#menuDanhMuc a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#menuDanhMuc a:hover {
  background-color: #555;
}

#menuDanhMuc h4 {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}

/* Thêm media query để thay đổi bố cục trên màn hình nhỏ */
@media screen and (max-width: 768px) {
  #menuDanhMuc .column {
    width: 100%; /* Chiếm toàn bộ chiều rộng khi màn hình nhỏ */
  }
}


/* Footer Section */
#myFooter {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 0; /* Đặt khoảng trắng phía dưới là 0 */
}

#myFooter a {
  color: #0066cc;
  text-decoration: none;
  transition: color 0.3s ease;
}

#myFooter a:hover {
  color: #ff9900;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-section h1,
.footer-section h2 {
  background: linear-gradient(to right, #ffcc00, #ff6600, #cc33ff, #00cc66, #3366ff);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
.footer-section h2 {
  margin-top: 10px; /* Điều chỉnh khoảng cách giữa h1 và h2 nếu cần */
  display: block; /* Đảm bảo h2 không bị ảnh hưởng bởi thuộc tính inline-block của h1 */
}

@media (min-width: 768px) {
  #myFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
}

#notificationModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000; /* Nền màu đen */
  border: 2px solid #ff0000; /* Viền màu đỏ */
  box-sizing: border-box; /* Đảm bảo kích thước tính cả border */
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  text-align: center;
}