body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

h2 a {
  color: #4CAF50;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.gallery-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  width: 100%;
  height: auto;
}

.image-caption {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #f9f9f9;
}

main {
  padding-bottom: 3rem; /* Add padding to ensure space for the footer */
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
}
