body {
  font-family: 'Arial', sans-serif;
  background-color: #D3D3D3;
  padding: 30px;
  color: #333;
}

h2 {
  color: #696969;
  text-shadow: 2px 2px 4px #999;
}

select, input, button {
  padding: 15px;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #696969;
  box-sizing: border-box;
}

button {
  background-color: #4682B4;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.4s, box-shadow 0.4s;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 25px;
  cursor: pointer;
}

button:hover {
  background-color: #4169E1;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#output {
  padding: 30px;
  background-color: #eee;
  border-radius: 5px;
}

footer {
  font-size: 20px;
  color: #00aeff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

#notice {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  background-color: #FFD700;
  border: 1px solid black;
  padding: 10px;
}
.close-btn {
  float: right;
  cursor: pointer;
}
#notice1 {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #f9ed69;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

@media only screen and (max-width: 600px) {
  body {
      padding: 10px;
  }
  select, input, button {
      padding: 10px;
      font-size: 14px;
      margin-bottom: 15px;
  }
  #output {
      padding: 15px;
  }
  footer, h2 {
      font-size: 16px;
  }
  #notice {
      width: auto;
  }
}

#suggestionBox {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

#suggestionBox button {
  flex: 1 0 20%;
  background: white;
  color: black;
  border: none;
  padding: 10px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

#suggestionBox button:hover {
  background-color: #f1f1f1;
}
